/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8fafc;
    color: #172033;
    line-height: 1.6;
}


/* =========================
   NAVBAR
========================= */

/* .navbar {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2%;

    background-color: #ffffff;
    border-bottom: 1px solid #e5e7eb;
} */

.navbar {
    width: 100%;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 6%;

    background-color: #ffffff;

    border-bottom: 1px solid #eef0f3;
}

.logo {
    font-size: 25px;
    font-weight: 700;
    color: #172033;
}


.logo span {
    color: #2563eb;
    /* display: inline-block;
    transform: rotate(-45deg); */
}

.home-logo-plane {
    display: inline-block;
    transform: rotate(-45deg);
    color: #2563eb;
    font-size: 25px;
}



.nav-links {
    display: flex;
    gap: 55px;
}

.nav-links a {
    text-decoration: none;
    color: #4b5563;
    font-size: 15px;
    transition: 0.3s;
}


.nav-links a:hover {
    color: #2563eb;
}

.nav-buttons {
    display: flex;
    gap: 12px;
}

.nav-buttons {
    display: flex;
    gap: 12px;
}

.login-btn,
.signup-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;
    border-radius: 8px;

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

    text-decoration: none;
    cursor: pointer;

    transition: 0.3s ease;
}

/* LOGIN */
.login-btn {
    background-color: white;
    color: #172033;
    border: 1px solid #d1d5db;
}

.login-btn:hover {
    background-color: #f1f5f9;
    border-color: #2563eb;
    color: #2563eb;
}

/* SIGN UP */
.signup-btn {
    background-color: #2563eb;
    color: white;
    border: 1px solid #2563eb;
}

.signup-btn:hover {
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}
/* =========================
   HERO
========================= */

/* .hero {
    min-height: 650px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 80px 7%;
    gap: 60px;

    background-color: #ffffff;
}

.hero-content {
    width: 50%;
}

.hero-small-text {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #2563eb;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 64px;
    line-height: 1.05;
    letter-spacing: -2px;
    margin-bottom: 25px;
    color: #172033;
}

.hero h1 span {
    color: #2563eb;
}

.hero-description {
    max-width: 520px;
    font-size: 17px;
    color: #64748b;
    margin-bottom: 35px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.primary-btn,
.secondary-btn {
    padding: 14px 25px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.primary-btn {
    border: none;
    background-color: #2563eb;
    color: white;
}

.primary-btn:hover {
    background-color: #1d4ed8;
}

.secondary-btn {
    border: 1px solid #d1d5db;
    background-color: white;
    color: #172033;
}

.secondary-btn:hover {
    background-color: #f1f5f9;
}


/* =========================
   HERO IMAGE
========================= */

/* .hero-image {
    width: 45%;
    height: 450px;

    border-radius: 25px;
    overflow: hidden;
}

.image-placeholder {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
        135deg,
        #dbeafe,
        #bfdbfe,
        #e0f2fe
    );

    color: #2563eb;
    font-size: 18px;
    font-weight: 600;
} */ 

/* =========================
   HERO
========================= */

.hero {
    position: relative;

    min-height: 560px;

    display: flex;
    align-items: center;

    padding: 70px 6% 120px;    

    background-image:
        linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.96) 0%,
            rgba(255, 255, 255, 0.82) 38%,
            rgba(255, 255, 255, 0.15) 75%,
            rgba(255, 255, 255, 0) 100%
        ),
        url("../assets/project_photo.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* HERO CONTENT */

.hero-content {
    width: 55%;
    max-width: 620px;

    position: relative;
    z-index: 2;
}


.hero h1 {
    font-size: 64px;
    line-height: 1.08;

    letter-spacing: -2px;

    margin-bottom: 24px;

    color: #172033;
}


/* DESCRIPTION */

.hero-description {
    max-width: 480px;

    font-size: 17px;
    line-height: 1.6;

    color: #172033;

    margin-bottom: 30px;
}


/* BUTTONS */

.hero-buttons {
    display: flex;
    gap: 14px;
}


.primary-btn,
.secondary-btn {
    height: 44px;

    padding: 0 20px;

    border-radius: 7px;

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;

    transition: 0.3s ease;
}


.primary-btn {
    border: 1px solid #173b78;

    background-color: #173b78;

    color: white;
}


.primary-btn span {
    margin-left: 8px;
}


.primary-btn:hover {
    background-color: #102f63;
}


.secondary-btn {
    border: 1px solid #b8c1cf;

    background-color: rgba(255, 255, 255, 0.75);

    color: #172033;
}


.secondary-btn:hover {
    background-color: white;
}


/* =========================
   REMOVE OLD HERO IMAGE
========================= */

.hero-image {
    display: none;
}



/* =========================
   FEATURES
========================= */

/* .features-section {
    padding: 100px 7%;
    background-color: #f8fafc;
}

.section-heading {
    text-align: center;
    margin-bottom: 55px;
}

.section-heading > p {
    color: #2563eb;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.section-heading h2 {
    font-size: 40px;
    line-height: 1.2;
    color: #172033;
}

.section-heading h2 span {
    color: #2563eb;
}

.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.feature-card {
    padding: 30px;

    background-color: white;

    border: 1px solid #e5e7eb;
    border-radius: 16px;

    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-5px);
    border-color: #bfdbfe;
}

.feature-icon {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;

    border-radius: 12px;

    background-color: #eff6ff;
    color: #2563eb;

    font-size: 22px;
}

.feature-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.feature-card p {
    color: #64748b;
    font-size: 14px;
} */

/* =========================
   FEATURES
========================= */
/* 
.features-section {
    position: relative;

    padding: 0 6% 70px;

    background-color: #f8fafc;

    z-index: 5;
}


.features {
    max-width: 1000px;

    margin: -72px auto 0;

    position: relative;
    z-index: 10;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    background-color: rgba(255, 255, 255, 0.97);

    border: 1px solid #e5e7eb;

    border-radius: 20px;

    box-shadow:
        0 10px 30px rgba(23, 32, 51, 0.10);

    overflow: hidden;
}


.feature-card {
    min-height: 150px;

    padding: 24px 18px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    background-color: transparent;

    border: none;

    border-right: 1px solid #e5e7eb;

    border-radius: 0;

    transition: 0.3s ease;
}


.feature-card:last-child {
    border-right: none;
}


.feature-card:hover {
    transform: translateY(-3px);
}


.feature-icon {
    width: 42px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;

    background-color: transparent;

    color: #3978d8;

    font-size: 25px;

    border-radius: 0;
}


.feature-card h3 {
    font-size: 14px;

    color: #172033;

    margin-bottom: 8px;

    font-weight: 600;
}


.feature-card p {
    max-width: 180px;

    color: #64748b;

    font-size: 12px;

    line-height: 1.5;
} */

/* =========================
   FEATURES
========================= */

.features-section {
    position: relative;

    padding: 0 6% 80px;

    background-color: #f8fafc;

    z-index: 5;
}


/* MAIN FEATURE CARD */

.features {
    max-width: 1250px;

    margin: -58px auto 0;

    position: relative;
    z-index: 10;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    background-color: rgba(255, 255, 255, 0.98);

    border: 1px solid #e5e7eb;

    border-radius: 22px;

    box-shadow:
        0 12px 35px rgba(23, 32, 51, 0.10);

    overflow: hidden;
}


/* EACH FEATURE */

.feature-card {
    min-height: 215px;

    padding: 32px 28px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    background-color: transparent;

    border: none;
    border-right: 1px solid #e5e7eb;

    border-radius: 0;

    transition: 0.3s ease;
}


.feature-card:last-child {
    border-right: none;
}


.feature-card:hover {
    transform: translateY(-4px);
}


/* ICON */

.feature-icon {
    width: 52px;
    height: 52px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 18px;

    background-color: #eff6ff;

    color: #2563eb;

    border-radius: 14px;

    font-size: 27px;
}


/* HEADING */

.feature-card h3 {
    font-size: 16px;

    color: #172033;

    margin-bottom: 10px;

    font-weight: 600;
}


/* DESCRIPTION */

.feature-card p {
    max-width: 220px;

    color: #64748b;

    font-size: 13px;

    line-height: 1.6;
}


/* =========================
   DESTINATIONS
========================= */

.destinations-section {
    padding: 100px 7%;
    background-color: white;
}

/* =========================
   ABOUT US
========================= */

.about-section {
    padding: 100px 7%;
    background-color: #f8fafc;
}

.about-content {
    max-width: 1100px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 80px;
}

.about-text {
    max-width: 650px;
}

.about-label {
    color: #2563eb;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.about-text h2 {
    font-size: 40px;
    line-height: 1.2;
    color: #172033;
    margin-bottom: 25px;
}

.about-text h2 span {
    color: #2563eb;
}

.about-description {
    color: #64748b;
    font-size: 16px;
    margin-bottom: 15px;
}


/* HIGHLIGHT CARD */

.about-highlight {
    min-width: 260px;
    padding: 45px 35px;

    background-color: white;

    border: 1px solid #e5e7eb;
    border-radius: 20px;

    text-align: center;
}

.about-icon {
    width: 60px;
    height: 60px;

    margin: 0 auto 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #eff6ff;
    color: #2563eb;

    border-radius: 15px;

    font-size: 28px;

    transform: rotate(-45deg);
}

.about-highlight h3 {
    font-size: 22px;
    color: #172033;
    margin-bottom: 5px;
}

.about-highlight p {
    color: #64748b;
    font-size: 14px;
}


/* =========================
   FOOTER
========================= */

footer {
    padding: 40px 2%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #172033;
    color: white;
}

footer .logo {
    color: white;
}

footer p {
    color: #cbd5e1;
}


/* =========================
   RESPONSIVE DESIGN
========================= */

@media (max-width: 900px) {

    .nav-links {
        display: none;
    }

    .hero {
        flex-direction: column;
        padding: 60px 6%;
    }

    .hero-content {
        width: 100%;
    }

    .hero h1 {
        font-size: 48px;
    }

    .hero-image {
        width: 100%;
        height: 350px;
    }

    .features {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    }

    .about-highlight {
    width: 100%;
    }
}


@media (max-width: 600px) {

    .navbar {
        padding: 0 5%;
    }

    .nav-buttons {
        display: none;
    }

    .hero {
        padding: 50px 5%;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .features {
        grid-template-columns: 1fr;
    }

    .section-heading h2 {
        font-size: 32px;
    }

    footer {
        flex-direction: column;
        gap: 15px;
    }
}